<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-simple-podcast" >
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.channel_name" />
		</td>
		<td>
		{podcastChannel.channelName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.link" />
		</td>
		<td>
		{podcastChannel.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.subtitle" />
		</td>
		<td>
		{podcastChannel.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.image" />
		</td>
		<td>
				<f:image src="{podcastChannel.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.description" />
		</td>
		<td>
		{podcastChannel.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.language" />
		</td>
		<td>
		{podcastChannel.language}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.author" />
		</td>
		<td>
		{podcastChannel.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.category" />
		</td>
		<td>
		{podcastChannel.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.author_mail" />
		</td>
		<td>
		{podcastChannel.authorMail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.keywords" />
		</td>
		<td>
		{podcastChannel.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.explicit" />
		</td>
		<td>
		{podcastChannel.explicit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.copyright" />
		</td>
		<td>
		{podcastChannel.copyright}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.itunes_owner" />
		</td>
		<td>
		{podcastChannel.itunesOwner}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simplepodcast_domain_model_podcastchannel.itunes_owner_mail" />
		</td>
		<td>
		{podcastChannel.itunesOwnerMail}
		</td>
	</tr>
</table>
</html>